# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

*.pyc
*.7z

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/darknet_vs/x64/
/darknet_vs/bin/

*.suo
*.user
*.pdb
*.db

# network related
*.weights
/bin/*
!/bin/auto_marker.py

/networks/*
!/networks/darknet19_448-template/
!/networks/yolov2-template/
!/networks/yolov3-template/

vs201*/
.vs

==*/

# scripts folder
/scripts/darknet.py
/scripts/*.gif
/scripts/*.png
/scripts/*.jpg
/scripts/**.jpg
/scripts/*.mp4
/scripts/img/

obj.data
obj.names
train.txt

lightnet_*