[submodule "darknet"]
	path = darknet
	url = https://github.com/jing-vision/darknet.git
[submodule "Yolo_mark"]
	path = Yolo_mark
	url = https://github.com/jing-vision/Yolo_mark.git
[submodule "yolo2_light"]
	path = yolo2_light
	url = https://github.com/AlexeyAB/yolo2_light.git
[submodule "Augmentor"]
	path = Augmentor
	url = https://github.com/mdbloice/Augmentor.git
